.pages-button_type_vk {
  background-image: url(../../images/icons/vk.svg);
}

.pages-button_type_instagram {
  background-image: url(../../images/icons/instagram.svg);
}

.pages-button_type_artstation {
  background-image: url(../../images/icons/artstation.svg);
}