.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 10px auto 10px 40px 10px 30px;
  grid-template-columns: 60px auto 40px 30px;
  row-gap: 10px;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 0;
  padding: 10px calc((100vw - 1140px) / 2);
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  width: 60px;
  height: 60px;
  background-image: url(../../images/icons/logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffeedc;
  cursor: pointer;
  border: none;
  padding: 0;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__profile-button {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background-image: url('../../images/icons/profile.svg');
  background-position: center;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;

}

.header__profile-button:hover {
  opacity: .8;
}

.header__button {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.header__button_type_menu {
  background-image: url(../../images/icons/burger.svg);
}

.header__button_type_close {
  background-image: url(../../images/icons/close-button.svg);
}

.header__button:hover {
  opacity: .8
}

.header__overlay {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: calc(100dvh - 90px);
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.header__container {
  width: 200px;
  height: calc(100% + 1px);
  background-color: #ffeedc;
  margin: -1px 0 0 calc(100vw - 200px);
}

@media screen and (max-width: 1280px) {
  .header {
    padding-left: 70px;
    padding-right: 70px;
  }

  .header__logo {
    margin-right: calc((100vw - 531px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }

}

@media screen and (max-width: 500px) {
  .header {
    padding: 18px 14px;
    -ms-grid-columns: 60px auto 40px 30px 40px;
    grid-template-columns: 60px auto 40px 30px 40px;
  }

  .header__button {
    display: block;

  }



}