.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__label {
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #000;
  font-style: italic;
  line-height: 22px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15.73px;
  color: #000;
}

.form__input:focus {
  outline: 4px solid #8d8741;
}

.form__input:invalid {
  color: #7f3c58;
}

.form__textarea {
  height: calc(100vh/3);
}

.form__radio-label {
  margin: 0 10px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 15.73px;
  color: #000;

}

.form__radio-label:first-of-type {
  margin-left: 0;
}

.form__checkboxes {
  margin: 0;
  padding: 0;
}

.form__checkbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form__checkbox-label {
  margin: 0 0 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15.73px;
  color: #000;

}

.form__input-error {
  margin: 0;
  padding: 0 0 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  color: #7f3c58;
  min-height: 20px;
}

.form_hidden {
  display: none;
}

.form__password-button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 20px;
  background-color: #fff;
  border: .5px solid #000;
  border-radius: 5px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;

}

.form__show-password-button:hover {
  opacity: .8;
}

.form__password-button_show {
  background-image: url('../images/icons/show.svg');
}

.form__password-button_hide {
  background-image: url('../images/icons/hide.svg');
}

@media screen and (max-width: 426px) {
  .form {
    width: 260px;
  }
}