.form-picture {
  margin: 30px auto;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.form-picture__title {
  text-align: center;
}

.form-picture__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}

.form-picture__input {
  width: 250px;
}


.form-picture__buttons {
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.form-picture__button {
  width: 200px;
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .form-picture {
    width: 400px;
  }

  .form-picture__form {
    flex-direction: column;
    align-items: center;


  }

  .form-picture__buttons {
    width: 200px;
    flex-direction: column;
  }

  .form-picture__input_no-error {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 420px) {
  .form-picture {
    width: 320px;
  }


}